div.content
  div
    p
      | Add new Todo Item
    form.app_input_group.app_form([formGroup]="formCreateItem", (ngSubmit)="addItem(formCreateItem.value)")
      .app_input
        .input_title
          | Title:
        input(type="text", placeholder="Title", formControlName="title")
      .app_input
        .input_title
          | Description:
        input(type="text", placeholder="Description", formControlName="description")
      br
      button.app_btn(type="submit")
        | Submit
  hr
  .items_list_block
    form.app_input_group.app_form([formGroup]="formFilters")
      .title 
        | Filtered by:
      .app_input
        .input_title
          | Title:
        input(type="text", placeholder="Title", formControlName="title")
      .app_input
        .input_title
          | Date:
        input(id="item-date", placeholder="DD/MM/YYYY", type="text", name="data", appDatapicker, formControlName="created_at")
        label(for="item-date")
    .content
      .items_list
          .item(*ngFor="let item of itemsList | showPage: {page: listConfig.currentPage, elemsOnPage: listConfig.elemsOnPage}")
            .title
              div([innerHtml]="item.title | cutLongString: 20", [matTooltip]="item.title.length > 20 ? item.title : ''")
              i.material-icons((click)="deleteItem(item.id)")
                | close
            .decription([innerHtml]="item.description | cutLongString: 80", [matTooltip]="item.description.length > 80 ? item.description : ''")
            div([innerHtml]="'Add at: ' + item.created_at")
      br
      br
      app-pagination(
        *ngIf="itemsList.length > 0",
        [startPage]="1", 
        [elementsOnPage]="listConfig.elemsOnPage", 
        [elementsAmount]="itemsList.length", 
        (changeCurrentPage)="changeCurrentPage($event)"
      )

