@import '~styles/mixins';
@import '~styles/variables';

:host {
    display: flex;
    flex: 1;
}
.content {
    width: 100%;
}
hr {
    margin: 30px 0px;
}
.title {
    font-size: 1.1em;
}
.items_list_block {
    .items_list {
        @include flex-conteiner-position(row wrap, space-around);
        .item {
            @include flex-item-position(column, space-between, stretch);
            margin: 0px 0px 15px 15px;
            background-color: $second-color;
            padding: 10px;
            @include width-to-height(200px, 0.7);
            .decription {
                text-align: justify;
                height: 100%;
                padding: 20px 0px;
            }
            .title {
                @include flex-item-position(row, space-between, flex-start);
                i {
                    cursor: pointer;
                }
            }
        }
    }
}
@media (min-width: $small-screen) {
    .items_list_block {
        @include flex-conteiner-position(row nowrap, flex-start);
    }
}
@media (max-width: 767px) {
    .items_list_block {
        .items_list {
            .item {
                margin: 15px 15px 0px 0px;
            }
        }
        // @include flex-item-position(column, center);
    }
}
