@import 'variables';
@media (max-width: $small-screen) {
    .flex_container {
      width: calc(100% - 30px);
    }
}
@media (min-width: $small-screen) {
    .flex_container {
      width: 720px;
    }
}
@media (min-width: $medium-screen) {
    .flex_container {
        width: 970px;
    }
}
@media (min-width: $large-screen) {
    .flex_container {
        width: 1170px;
    }
}