@import 'global-media';
@import 'mixins';
@import '~@angular/material/theming';
@include mat-core();
$mt-app-primary: mat-palette($mt-main-color, 500);
$mt-app-accent: mat-palette($mat-pink, A200, A100, A400);
$mt-app-warn: mat-palette($mat-red);
$mt-app-theme: mat-light-theme($mt-app-primary, $mt-app-accent, $mt-app-warn);
@include angular-material-theme($mt-app-theme);

.app_btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: $main-color;
    color: $main-text-color;
    cursor: pointer;
    &:hover {
        @include main-hover($main-color, 15%); 
    }
}

.flex_container {
    min-height: calc((100% - 60px) - (#{$header} + #{$footer}));
    height: max-content;
    padding: 30px 0px;
}

.flex_column {
    flex: 1;
    @include flex-item-position(column, center);
}

.flex_row {
    width: 100%;
    @include flex-item-position(row, center);
}

.app_input_group {
    @include flex-item-position(column, flex-start);
}

.app_input {
    margin: 10px 0px;
    position: relative;
    input {
        &+ label:after {
            content: "\25bc";
            position: absolute;
            font-size: 0.6em;
            right: 10px;
            bottom: 9px;
            cursor: pointer;
        }
        padding: 5px 7px;
    }
    .input_title {
        margin-bottom: 5px;
    }
}

.app_form {
    padding: 15px 20px;
    background-color: $second-color;
    width: max-content;
}
