@mixin main-hover($color, $value) {
    background-color: darken($color, $value)
}

@mixin add-atr($atr...) {
    @each $i in $atr {
        #{nth($i, 1)}: nth($i, 2);
    }
}

@mixin flex-item-position($direction: row, $justify: flex-start, $align-items: $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align-items;
}

@mixin flex-conteiner-position($wrap: wrap, $align-content: space-around) {
    display: flex;
    flex-flow: $wrap;
    align-content: $align-content;
}

@mixin width-to-height ($width, $coefficient) {
    width: #{$width};
    height: calc(#{$width} * #{$coefficient});
}
