
$main-color: #1a9dd4;
$main-text-color: #f3f3f3;
$second-color: #EEEEEE;
$header: 50px;
$footer: 50px;
$mt-main-color: (
    50 : #e4f3fa,
    100 : #bae2f2,
    200 : #8dceea,
    300 : #5fbae1,
    400 : #3cacda,
    500 : #1a9dd4,
    600 : #1795cf,
    700 : #138bc9,
    800 : #0f81c3,
    900 : #086fb9,
    A100 : #e4f2ff,
    A200 : #b1dbff,
    A400 : #7ec4ff,
    A700 : #64b8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;