@import '~styles/mixins';
@import '~styles/variables';

.content {
    width: 100%;
    @include flex-item-position(row, center);
}

.items {
    width: max-content;
    border: 1px solid $second-color;
    background-color: $main-color;
    color: $main-text-color;
    width: 30px;
    height: 30px;
    @include flex-item-position(row, center);
    cursor: pointer;
    &.active, &:hover {
        @include main-hover($main-color, 15%); 
    }
}