.content(*ngIf="pages > 1")
  .items((click)="currentPage > 1 && changePage(currentPage - 1)")
    i.material-icons
      | keyboard_arrow_left
  .items(*ngIf="checkCurrentPage('more')", (click)="changePage(currentPage - elementsOnPage)")
    | ...
  .items(
    *ngFor="let page of pages | stringToArray | showAmount: {elem: currentPage, amountShow: elementsOnPage}", 
    [innerHtml]="page",
    (click)="changePage(page)",
    [ngClass]="{'active': page === currentPage}"
  )
  .items(*ngIf="checkCurrentPage('less')", (click)="changePage(currentPage + elementsOnPage)")
    | ...
  .items((click)="currentPage < pages && changePage(currentPage + 1)")
    i.material-icons
      | keyboard_arrow_right
