@import '~styles/variables.scss';
@import '~styles/mixins.scss';

.header {
    height: $header;
    background-color: $main-color;
    @include flex-item-position(row, flex-start, center);
    .back {
        color: $main-text-color;
        margin-left: 20px;
        cursor: pointer;
    }
}
.footer {
    height: calc(#{$footer} - 1px);
    border-top-style: inset;
    border-top-width: 1px;
}


